<%= form_for(@csv,url: csvs_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Please enter the title" %></br>
    <%=f.label :description %>
    <%= f.text_area :description, placeholder: 'Enter the description' %></br>
    <%= f.label :csv_file %>
    <%= f.file_field :csv_file %></br>
    <%=f.submit "Upload the Csv" %>

<%end%>
